## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

# Rubinius
*.rbc

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
tmp/*
test/rails_app/db/migrate/*
test/rails_app/db/schema.rb
Gemfile.lock
